accelerate==0.16.0
beautifulsoup4==4.11.2
bert-score==0.3.13
datasets==2.10.0
evaluate==0.4.0
Levenshtein
optimum==1.7.1
pandas==2.0.1
plotly==5.13.0
sacrebleu[jako]==2.3.1
scikit-learn==1.2.1
sentencepiece==0.1.97
streamlit==1.22.0
tensorflow==2.11.0
torch==1.13.1
transformers==4.28.1
unbabel-comet==1.1.3
XlsxWriter==3.0.8
git+https://github.com/google-research/bleurt.git@cebe7e6f996b40910cfaa520a63db47807e3bf5c
