a {color: #09ab3b !important;}
a:hover {text-decoration: none;}

/*  Progress bar custom color */
.stProgress > div > div > div > div {
    background-color: #94bf89;
}

[data-testid="stFileUploadDropzone"], [data-testid="stFileUploader"] {
    font-size: 0.88em;
    text-align: left;
}

[data-testid="stFileUploadDropzone"] {
    padding: 4px 8px;
}

[data-testid="stFileUploadDropzone"] small, [data-testid="stFileUploader"] small {
    font-size: 0.8em;
}
[data-testid="stFileUploader"] .uploadedFileData  {
    font-size: 0.8em;
}

.version {
    background: #edf9ed;
    border: 1px solid #38aa3b;
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.125em 0.4em;
    border-radius: 4px;
}

.version p {
    font-size: 80%;
    margin: 0;
    color: #38aa3b;
    padding: 0;
}
/* Fix tooltip not showing up in sentence-level chart in full-screen */
#vg-tooltip-element {
    z-index: 9999999;
}

.stDeployButton {
    visibility: hidden;
}