.ed-sub-src {
    color: red;
}

.ed-sub-tgt {
    color: green;
}

.ed-del {
    color: red;
    text-decoration: line-through;
}

.ed-ins {
    color: green;
    text-decoration: underline;
}

.hover {
    backgroud-color: yellow;
}

.ed-match {

}

/* STRUCTURE  */
.ed-char-level {
    display: flex;
    gap: 1em;
}

.ed-legend {
    padding: 0.36em;
    border: 2px solid #31333f;
}

.ed-legend li {
    line-height: 1;
    padding-left: 0;
    font-size: 0.8rem;
}

.ed-legend ul {
    margin-bottom: 0;
}

main.ed-content {
    flex: 1 1;
}